<div class="player-container">
  <h2>Music Player</h2>
  <div class="info-container">
    <img id="cover-img" src="src/assets/Tux-Linux-wallpaper_950.jpg" alt="Cover Image">
    <a style="margin-top: 10px;">
      <p>Song name and Artist</p>
    </a>
  </div>
  <div class="player-controls">
    <div><mat-progress-bar mode="determinate" value="40" style="margin-bottom: 10px;"></mat-progress-bar></div>
    <div class="buttons">
      <button mat-raised-button mat-icon-button class=".btn" (click)="previous($event)"><mat-icon>skip_previous</mat-icon></button>
      <button mat-raised-button mat-icon-button class=".btn" (click)="playPause($event)"><mat-icon>play_arrow</mat-icon></button>
      <button mat-raised-button mat-icon-button class=".btn" (click)="next($event)"><mat-icon>skip_next</mat-icon></button>
    </div>
  </div>
</div>
